.el-button{
    border-radius: 20px;
}
.el-button--mini{
    border-radius: 14px;
}
.el-input__inner{
    border-top:none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    
}
.out-input .el-input__inner{
    border: 1px solid  #dcdfe6;
    transition: .5s;
    &:focus{
        border:1px solid #07b8a8;
    }
}

.el-input-group__append, .el-input-group__prepend{
    background-color:transparent;
    border: none;
}
.el-form-item__label{
    padding: 0 20px 0 0;
}
.el-input__inner{
    
}
/* .line-input .el-input__inner{
    
} */