@import url("./global.less");
.el-button{
    border-radius: 20px;
}
.el-button--mini{
    border-radius: 14px;
}
.el-input__inner{
    border-top:none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    
}
.out-input .el-input__inner{
    border: 1px solid  #dcdfe6;
    transition: .5s;
    &:focus{
        border:1px solid #07b8a8;
    }
}

.el-input-group__append, .el-input-group__prepend{
    background-color:transparent;
    border: none;
}
.el-form-item__label{
    padding: 0 20px 0 0;
}
.el-input__inner{
    
}
.center-dialog .el-dialog__header{
    text-align: center;
}
/* .line-input .el-input__inner{
    
} */

.add-case-dialog{
    .el-dialog__header{
        text-align: center;
        background: @primaryColor;
        .el-dialog__title{
            color: #ffffff;
        }
    }
    .el-dialog__body{
        padding: 30px 93px 20px 91px;
    }
}

.flex-form{
    display: flex;
    justify-content: space-between;
    .el-form-item{
        &:nth-child(1){
            flex: 1
        }
        &:nth-child(2){
            flex: 1
        }
        align-items: center;
        .el-form-item__content{
            width:100%;
            >div{
                width: 100%;
            }
        }
     
    }
}

.uncertain-dia{
    .title{
        text-align: center;
        font-size: 16px;
    }
}

.exams-dia{
    .exams-dia-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
    }
    .exams-dia-footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.el-tag + .el-tag {
    margin-left: 10px;
  }
.el-dialog__close{
    display: none
}
 .el-dialog{
    .el-dialog__body{

        .check-img{
            .check-soure{
                height: 294px;
                background: #F5F5F5;
                position: relative;

                i{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    font-size: 18px;
                    transition: .2s;
                    -ms-transform-origin: center;
                    -webkit-transition-origin:center;
                    color: #333333;
                    &:hover{
                        font-size: 26px;

                    }
                }
            }
            // .check-img{
        
            // }
            .check-action{
                width: 145px;
                margin: 24px auto 0 auto;
                display: flex;
                justify-content: space-around;
                color: #07B8A8;
                cursor: pointer;

                input{
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;   
                    width: 58px;     
                    cursor: pointer;    
                }
            }
        }
    }
}

.chaxun-dialog-content{
    .el-form-item__label{
        color: #4D4D4D;
        font-weight: bold;
    }
}

.collapse-right{
    .high-tip{
        color: red;
        padding: 5px 10px;
        margin: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3)
    }
    .el-collapse-item__arrow{
        display: none;
    }
    .item-title{
        display: flex;
        justify-content: space-between;

        span{
            background: #FAA032;
            height: 5px;
            display: inline-block;
            width: 11px;
            margin-left: 2px
        }
    }
}
.red-checkbox *{
    color: red !important;
}

.record {

    .el-checkbox{
       
    }
    .el-checkbox__label{
      white-space: normal;
      vertical-align: top !important;
    }
}