*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: "Microsoft YaHei"
}
html,body.app{
    background: #f2f2f2;
    height: 100%;
    width: 100%;
}
a{
    color:#07b8a8;
    text-decoration: none;
}
li{
    list-style: none;
}

.el-input__prefix{
    line-height: 42px;
}
.open-med-title{
    display: flex;
    width: 911px;
    justify-content: space-between;
    align-items: center;
      
}